
@{
    ViewData["Title"] = "Requests";
    var requests = ViewData["Requests"] as IReadOnlyList<LyricsRequest>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Requests</h1>
<p>Requests are fulfilled from the oldest to the newest.</p>
<ul>
    <li><a asp-controller="Requests" asp-action="New">Submit new</a></li>
    <li><a asp-controller="Requests" asp-action="Closed">Closed requests</a></li>
</ul>
<hr />
@foreach (var request in requests)
{
    <div>
        @request.Id. @request.Artist - @request.Title
        @if (!string.IsNullOrWhiteSpace(request.LyricsLink))
        {
            <a> - </a><a href="@request.LyricsLink">lyrics</a>
        }
        @if (!string.IsNullOrWhiteSpace(request.MusicLink))
        {
            <a> - </a><a href="@request.MusicLink">music</a>
        }
        @if (!string.IsNullOrWhiteSpace(request.Comments))
        {
            <a> - @request.Comments</a>
        }
        <a> - </a><a href="/Requests/Fulfill/@request.Id">fulfill</a>
    </div>
}

