@model LrcLyrics.Models.Lyrics

@if (Model.Id != 0)
{
    <div class="d-inline">
        <a href="@Model.Url/Download">Download</a> -
        <a href="@Model.Url/Raw">Raw</a> -
    </div>
}
<a href="javascript:;" id="toggle-timestamps">Timestamps</a> -
<a href="javascript:;" id="toggle-info">More</a>
<br />
<div class="text-white-50">
    [<a id="timer">00:00.00</a>] Click line to synchronize
</div>
<div id="lyrics-info" class="text-white-50 d-none">
    <hr />
    <div>
        <a class="font-weight-bold">Submitted by:</a> @Model.Creators
    </div>
    @if (Model.DateAccepted != DateTime.MinValue)
    {
        <div><a class="font-weight-bold">Published:</a> @Model.DateAccepted</div>
    }
    @if (Model.DateUpdated != DateTime.MinValue)
    {
        <div><a class="font-weight-bold">Updated:</a> @Model.DateUpdated</div>
    }
    <div><a class="font-weight-bold">Visits:</a> @Model.Visits</div>
    <div><a class="font-weight-bold">Downloads:</a> @Model.Downloads</div>
    @if (!string.IsNullOrEmpty(Model.MusicUrl))
    {
        <div><a class="font-weight-bold">Music link:</a> <a href="@Model.MusicUrl">@Model.MusicUrl</a></div>
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div><a class="font-weight-bold">Description:</a> @Model.Description</div>
    }
    @if (Model.Source != null && !Model.Source.IsEmpty)
    {
        <div><a class="font-weight-bold">Source:</a> <a @(string.IsNullOrWhiteSpace(Model.Source.Url) ? "" : $"href={Model.Source.Url}")>@Model.Source.Name</a> @if (!string.IsNullOrEmpty(Model.Source.Description)) { <a> - @Model.Source.Description</a> }</div>
    }
    @if (Model.Id != 0)
    {
        <div>@Html.ActionLink("Submit edits", "EditLyrics", "Lyrics", new { id = Model.Id })</div>
    }
</div>