@model LrcLyrics.BackEnd.Models.Lyrics

<a href="@Model.Url/Download">Download</a> -
<a href="@Model.Url/Raw">Raw</a> -
<a href="javascript:;" id="toggle-timestamps">Timestamps</a> -
<a href="javascript:;" id="toggle-info">More</a>
<br />
<div class="text-white-50">
    [<a id="timer">00:00.00</a>]Click line to seek time
</div>
<div id="lyrics-info" class="text-white-50 d-none">
    Creators: @Model.Creators
    <br />Added: @Model.DateAccepted
    @if (!string.IsNullOrEmpty(Model.MusicUrl))
    {
        <br /><a>Music url: </a><a href="@Model.MusicUrl">@Model.MusicUrl</a>
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <br /><a>Description: </a>@Model.Description
    }
    @if (Model.Id != 0)
    {
        <div>@Html.ActionLink("Submit edits", "EditLyrics", "Lyrics", new { id = Model.Id })</div>
    }
</div>